@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-hp-dark text-hp-parchment overflow-x-hidden;
    cursor: none; /* For custom wand cursor */
  }
}
